.formu {
  background-color: darkslateblue;
  width: 18%;
  padding: 20px;
  list-style: none;
  margin: auto;
}

.formCalandar {
  width: 35%;
  padding: 2rem;
  list-style: none;
  margin: auto;
  /* padding-top: 4.2rem; */
  background-color: palevioletred;
}

.titleCalandar {
  text-align: center;
}
